<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <article>
    <h1>Scooby</h1>
    <p>5 anos</p>
    <p>Macho</p>
  </article>

  <article>
    <h1>Scooby</h1>
    <p>5 anos</p>
    <p>Macho</p>
  </article>
  
  <article>
    <h1>Scooby</h1>
    <p>5 anos</p>
    <p>Macho</p>
  </article>
</body>
</html>